a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/* GLOBAL */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}

img {
    max-width: 100%;
}

body {
    background: black;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1210px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}


/* *** HEADER *** */

header .wrap {
    padding: 20px 50px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav ul {
    display: flex;
    align-items: baseline;
}

header .main-nav li {
    padding: 0 10px;
}

header .main-nav li a {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
}

header .main-nav li:nth-child(1) a:hover {
    color: aliceblue;
}

header .main-nav li:nth-child(2) a:hover {
    color: #f58891
}

header .main-nav li:nth-child(3) a:hover {
    color: #9ef19f
}


/* BANNER */

.banner {
    padding: 50px 0 100px;
}

.banner .content {
    text-align: center;
}

.banner .content h2 {
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    text-shadow: 2px 8px 40px #35A2F1;
    margin: 0 0 10px;
}

.banner .content p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.85);
}

.banner .content .actions {
    margin: 30px 0 0;
}

.banner .content .actions a {
    background: #fff;
    line-height: 36px;
    font-weight: 600;
    padding: 0 25px;
    display: inline-block;
    color: #000;
    white-space: nowrap;
    border: 2px solid #EB5C68;
    text-decoration: none;
    border-radius: 35px;
    box-shadow: 0 0 15px #35A2F1;
}

.banner .content .actions a:hover {
    color: #EB5C68;
    box-shadow: 0 0 18px 2px #35A2F1;
}

.banner .graphic {
    text-align: center;
    padding: 110px 10px 70px;
    background: url(../images/editor-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: -60px 0 0;
}

.banner .graphic.mobile {
    display: none;
}


/* TEAM COGNITION SECTION */

.team-cognition-section {
    padding: 75px 0;
}

.team-cognition-section .box {
    border-radius: 30px;
    background: #191919;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.team-cognition-section .box .text {
    width: 47%;
    flex: 0 0 47%;
}

.team-cognition-section .box .text h3 {
    margin: 0 0 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.team-cognition-section .box .text p {
    font-weight: bold;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
}

.team-cognition-section .box .actions {
    margin: 50px 0 0;
}

.team-cognition-section .box .actions a {
    background: #000;
    line-height: 36px;
    font-weight: bold;
    padding: 0 25px;
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    border-radius: 35px;
    box-shadow: 0 0 15px #35A2F1;
}

.team-cognition-section .box .actions a:hover {
    box-shadow: 0 0 15px 2px #35A2F1;
    background: #111;
}

.team-cognition-section .box .frames {
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
}

.team-cognition-section .box .frames .frame {
    width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
    text-align: center;
}

.team-cognition-section .box .frame .title {
    font-size: 19px;
    margin: 15px 0 25px;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.row .col-md-6 {
    width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
}


/* SELF ORGANIZATION SECTION */

.self-organization-section {
    padding: 75px 0;
}

.self-organization-section h5 {
    font-size: 24px;
    font-weight: 600;
}

.self-organization-section h3 {
    font-size: 48px;
    font-weight: 600;
    text-shadow: 0 1px 30px #72D374;
    margin: 15px 0 40px;
}

.self-organization-section h3 span {
    position: relative;
}

.self-organization-section h3 span:after {
    content: '';
    height: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.self-organization-section p {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.self-organization-section a {
    color: #35A2F1;
    text-decoration: none;
    font-size: 18px;
    margin: 30px 0 0;
    font-weight: 600;
    display: inline-block;
}

.self-organization-section .col-md-6:first-child {
    padding-right: 50px;
}


/* CROSS COLLABORATION SECTION */

.cross-collaboration-section {
    padding: 75px 0 50px;
    text-align: center;
    overflow: hidden;
}

.cross-collaboration-section h5 {
    font-size: 24px;
}

.cross-collaboration-section h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin: 10px 0 30px;
    text-shadow: 0 1px 30px #8F85FF;
}

.cross-collaboration-section h3 span {
    position: relative;
}

.cross-collaboration-section h3 span:after {
    content: '';
    height: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    width: 100%;
    bottom: -4px;
    left: 0;
}

.cross-collaboration-section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    max-width: 900px;
    margin: auto;
}

.cross-collaboration-section .dropdowninfo {
    background: #fff;
    text-align: left;
    max-width: 300px;
    border-radius: 10px;
    border: 2px solid #000;
    color: #000;
    position:relative;
    opacity: 0;
    margin: auto;
}
.cross-collaboration-section .dropdowninfo:before {
    content:'';
    height: 10px;
    width: 26px;
    position:absolute;
    bottom:100%;
    left:50%;
    margin: 0 0 0 -13px;
    display:block;
    background:url(../images/arrow-box.svg) no-repeat;
    background-position:center bottom;
}

.cross-collaboration-section .dropdowninfo > div{
    display:flex;
    font-size: 13px;
    padding:0 12px;
    color:#000;
    margin: 6px 0;
    align-items: center;
}

.cross-collaboration-section .dropdowninfo .row1,
.cross-collaboration-section .dropdowninfo .row2 {
    opacity: 0;
    height: 0;
}


.cross-collaboration-section .dropdowninfo .input {
    background:url(../images/input.svg) no-repeat;
    background-position: left top;
    height: 23px;
    min-width: 118px;
    padding: 5px 0 0 22px;
}

.cross-collaboration-section .dropdowninfo .with {
    margin:0 6px;
    color:#aaa;
}

.cross-collaboration-section .graphic {
    margin: 50px 0;
}

.cross-collaboration-section .graphic:after {
    content: '';
    clear: both;
    display: block;
}

.cross-collaboration-section .graphic .part1 {
    position: relative;
    text-align: left;
    float: left;
}

.cross-collaboration-section .graphic .part1 .selection {
    right: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cross-collaboration-section .graphic .part1 .selection .info {
    position: absolute;
    right: -435px;
    top: -20px;
    opacity: 0;
}

.cross-collaboration-section .graphic .part1 .selection .cursor {
    position: absolute;
    right: -200px;
    top: 80px;
}

.cross-collaboration-section .graphic .part2 {
    position: relative;
    margin: -200px 0 0;
    float: right;
    clear: both;
}

.cross-collaboration-section .graphic .part2 .selection2 {
    left: -475px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cross-collaboration-section .graphic .part2 .selection2 .info {
    opacity: 0;
}

.cross-collaboration-section .graphic .part2 .selection2 .cursor {
    position: absolute;
    left: -100px;
    top: -110px;
}

.cross-collaboration-section .graphic .part2 .selection3 {
    left: 0;
    right: 0;
    position: absolute;
    bottom: -40px;
    min-height: 140px;
}

.cross-collaboration-section .graphic .part2 .selection3 .cursor {
    position: absolute;
}

.cross-collaboration-section .graphic .part2 .selection3 .info {
    opacity: 0;
}

.cross-collaboration-section .graphic.mobile {
    display: none;
}


/* MULTI SHARING SECTION */

.multi-sharing-section {
    padding: 50px 0;
    text-align: center;
}

.multi-sharing-section h5 {
    font-size: 24px;
}

.multi-sharing-section h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin: 10px 0 30px;
    text-shadow: 0 1px 30px #35A2F1;
}

.multi-sharing-section h3 span {
    position: relative;
}

.multi-sharing-section h3 span:after {
    content: '';
    height: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.multi-sharing-section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.multi-sharing-section .graphic {
    margin: 50px 0 0;
    position: relative;
    display:inline-block;
}

.multi-sharing-section .graphic>* {
}

.multi-sharing-section .graphic .screen1{
    position:absolute;
    top: 8%;
    left:6%;
}

.multi-sharing-section .graphic .screen2{
    position:absolute;
    top: 21.2%;
    left:55.7%;
}

.multi-sharing-section .graphic .cursor {
    position:absolute;
    z-index:999;
    top: 4%;
    left:50%;
}

.multi-sharing-section .graphic img {}

.multi-sharing-section .graphic>.image-active {
    opacity: 0;
}

.multi-sharing-section .graphic.mobile {
    display: none;
}


/* CROSS COLLABORATION SECTION */

.powerful-graph-section {
    padding: 75px 0;
    text-align: center;
}

.powerful-graph-section h5 {
    font-size: 24px;
}

.powerful-graph-section h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0 30px;
    text-shadow: 0px 1px 30px #FBB374;
}

.powerful-graph-section h3 span {
    position: relative;
    display: inline-block;
}

.powerful-graph-section h3 span:after {
    content: '';
    height: 3px;
    border-radius: 100px;
    background: white;
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.powerful-graph-section p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.powerful-graph-section .graphic {
    margin: 50px 0 0;
    transform: scale(0.2);
}


/* WAITLIST SECTION */

.waitlist-section {
    padding: 75px 0;
    text-align: center;
}

.waitlist-section h5 {
    font-size: 24px;
    line-height: 30px;
    margin: 0 auto 10px;
    font-weight: 600;
    text-shadow: 0px 1px 30px #8F85FF;
    max-width: 700px;
    text-align: center;
}

.waitlist-section .actions {
    margin: 30px 0 0;
    text-align: center;
}

.waitlist-section .actions a {
    background: #fff;
    line-height: 36px;
    font-weight: 600;
    padding: 0 25px;
    white-space: nowrap;
    display: inline-block;
    color: #000;
    border: 2px solid #EB5C68;
    text-decoration: none;
    border-radius: 35px;
    box-shadow: 0 0 15px 1px #35A2F1;
}

.waitlist-section .actions a:hover {
    color: #EB5C68;
    box-shadow: 0 0 15px 3px #35A2F1;
}


/* STATEMENT SECTION */

.statement-section {
    padding: 100px 0;
}

.statement-section .wrap {
    display: flex;
}

.statement-section .statement {
    border-radius: 30px;
    padding: 70px;
    margin: 0 25px 0 0;
    flex-grow: 1;
    background: #192434;
    background: linear-gradient(111.72deg, #192434 35.79%, #18202E 42.32%, #161A21 50.03%, #151618 64.27%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.statement-section .statement h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 30px;
}

.statement-section .statement p {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 10px;
}

.statement-section .build-together {
    background: #2E54B7;
    background: linear-gradient(202.12deg, #162BA5 1.75%, #2E54B7 54.97%, #2F6484 100%);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px;
    width: 410px;
    flex: 0 0 410px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statement-section .build-together h5 {
    font-weight: 600;
}

.statement-section .build-together .hash-tags {
    margin: 15px 0;
}

.statement-section .build-together .tag {
    line-height: 60px;
    font-size: 48px;
    font-weight: bold;
}

.statement-section .actions a {
    padding: 8px 15px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    border-radius: 80px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
    transition: all ease 0.3s;
    display: inline-block;
}

.statement-section .actions a:hover {
    background: #fff;
    color: #232323;
}


/* FOOTER */

footer {
    padding: 20px 0;
}

footer .footer-logo {
    margin: 0 0 30px;
}

footer .row {
    justify-content: space-between;
}

footer .social-block li {
    margin: 15px 0;
}

footer .social-block li h5 {
    font-size: 16px;
    margin: 0 0 5px;
}

footer .social-block li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 0 5px 0 0;
}

footer .social-block li a:hover {
    padding: 0 0 0 5px
}

footer .social-block li a img {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 0 -20px -10px;
}

footer .social-block li:nth-child(2) a:hover {
    color: #9dcff3;
}

footer .social-block li:nth-child(3) a:hover {
    color: #dce88e;
}

footer .social-block li:nth-child(4) a:hover {
    color: #9fd2cd;
}

footer .get-started {
    padding: 0 15px;
}

footer .get-started h4 {
    font-size: 32px;
    margin: 0 0 25px;
}

footer .get-started p {
    color: #aaa;
    font-size: 17px;
    line-height: 28px;
}

footer .get-started .actions {
    margin: 40px 0;
}

footer .get-started .actions a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
    padding: 0 20px;
    background: #000000;
    color: #fff;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 1px rgba(53, 162, 241, 0.8);
    border-radius: 76.0435px;
}

footer .get-started .actions a:hover {
    background: #111;
    box-shadow: 0px 0px 12px 3px rgba(53, 162, 241, 0.8);
}

footer .copyright {
    color: #aaa;
    font-size: 14px;
}


/* EDITOR */

.editor {
    background: transparent;
    padding: 20px 30px;
    max-width: 705px;
    margin: auto;
    border-radius: 20px;
    min-height: 750px;
}

.editor .tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor .tools div {
    border-radius: 4px;
    padding: 5px 5px;
    margin-top: -5px;
}

.editor .edtr-content {
    color: #000;
    position: relative;
    padding: 20px 0;
    text-align: left;
}

.editor .edtr-content h3 {
    color: #000;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.editor .drop-placeholder {
    border-radius: 10px;
    position: relative;
    z-index: 9999;
    height: 160px;
    margin: 10px 0;
}

.editor .drop-placeholder .object {
    position: absolute;
    top: -80px;
    left: -400px;
    width: 360px;
    max-width: 100%;
    height: 160px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #E585EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editor .cursor1 {
    position: absolute;
    z-index: 999;
    left: -250px;
    top: -190px;
}

.editor .thumb {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 5px;
    line-height: 0;
}

.editor .thumb:after {
    content: '';
    display: block;
    padding-top: 30%;
}

.editor .thumb .image {
    position: absolute;
    bottom: -50px;
    left: -30px;
    right: -30px;
    overflow: hidden;
}

.editor .thumb .image img {
    width: 100%;
}

.editor .thumb .cursor2 {
    right: -120px;
    top: -50px;
    position: absolute;
    z-index: 999;
}


/****** ANIMATION *******/

.typing,
.typing1 {
    background: #fff;
    padding: 15px 0;
    color: #000;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 14px;
}

.typing .type,
.typing1 .type,
.typing .notype,
.typing1 .notype {
    position: relative;
    width: auto;
    line-height: 1.8;
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
    padding-right: 12px;
}

.typing2 {
    background: #191919;
    padding: 2px 0;
    color: #fff;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 11px;
    max-width: 300px;
}

.typing2 .type,
.typing2 .notype {
    position: relative;
    width: auto;
    line-height: 1.5;
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
    padding-right: 12px;
    font-size: 11.5px;
    font-weight: 300;
    letter-spacing: 0.03em;
}


.dropdowninfo .input {
    background: #eaeaea;
    padding: 2px 0;
    color: #000;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 300px;
}

.dropdowninfo .input .type {
    position: relative;
    width: auto;
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
    padding-right: 5px;
    letter-spacing: 0.03em;
}

.dropdowninfo .team {
    background: #fff;
    padding: 2px 0;
    color: #000;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 300px;
}

.dropdowninfo .team .type {
    position: relative;
    width: auto;
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
}


/* TYPING 1 */

.typing .type:before {
    animation-duration: 1.4285714286s, 1.4285714286s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 200, 2;
    animation-delay: 1.6s, 2.6s, 1.6s, 0s;
}

.typing .type:after {
    animation: lines 1.4285714286s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}
/* 
.typing .type+.type:before {
    animation-duration: 1.4285714286s, 5.7142857143s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 50, 2;
    animation-delay: 4.2s, 4.2s, 4.2s, 3.6s;
}

.typing .type+.type:after {
    animation: lines 5.7142857143s steps(4, end) 1;
    animation-fill-mode: both;
    animation-delay: 4.2s;
} */


/* TYPING 2 */

.typing1 .type:before {
    animation-duration: 1.4285714286s, 1.4285714286s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 200, 2;
    animation-delay: 3.6s, 3.6s, 3.6s, 1.5s;
}

.typing1 .type:after {
    animation: lines 1.4285714286s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 3.6s;
}

.typing1 .type+.type:before {
    animation-duration: 0.5s, 0.5s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 50, 2;
    animation-delay: 5.2s, 5.2s, 5.2s, 4.6s;
}

.typing1 .type+.type:after {
    animation: lines 5.7142857143s steps(4, end) 1;
    animation-fill-mode: both;
    animation-delay: 5.2s;
}
/* 
.typing1 .type+.type+.type:before {
    animation-duration: 0.4285714286s, 4.2857142857s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 85, 2;
    animation-delay: 12.9714285714s, 12.9714285714s, 12.9714285714s, 11.3714285714s;
}

.typing1 .type+.type+.type:after {
    animation: lines 4.2857142857s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 12.9714285714s;
} */


/* TYPING 3 */

.typing2 .type:before {
    animation-duration: 1.4285714286s, 1.4285714286s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 200, 2;
    animation-delay:3.6s, 3.6s, 3.6s, 3s;
}

.typing2 .type:after {
    animation: lines 1.4285714286s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 3.6s;
}

.typing2 .type+.type:before {
    animation-duration: 1.4285714286s, 5.7142857143s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 50, 2;
    animation-delay: 6.2s, 6.2s, 6.2s, 5.6s;
}

.typing2 .type+.type:after {
    animation: lines 5.7142857143s steps(4, end) 1;
    animation-fill-mode: both;
    animation-delay: 6.2s;
}

.typing2 .type+.type+.type:before {
    animation-duration: 0.4285714286s, 4.2857142857s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 85, 2;
    animation-delay: 8.8s, 8.8s, 8.8s, 8.2s;
}

.typing2 .type+.type+.type:after {
    animation: lines 4.2857142857s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 12s;
}


/* TYPING 4 */

.dropdowninfo .row1 .input .type:before {
    animation-duration: 1s, 1s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 100, 2;
    animation-delay: 2.5s, 2.5s, 2.5s, 2.1s;
}

.dropdowninfo .row1 .input .type:after {
    animation: lines 1.4285714286s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 5s;
}

.dropdowninfo .row1 .team .type:before {
    animation-duration: 1s, 1s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 100, 2;
    animation-delay: 3.5s, 3.5s, 3.5s, 3.1s;
}

.dropdowninfo .row1 .team .type:after {
    animation: lines 1s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 4s;
}


.dropdowninfo .row2 .type:before {
    animation-duration: 1s, 1s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 100, 2;
    animation-delay: 5.5s, 5.5s, 5.5s, 5.1s;
}

.dropdowninfo .row2 .input .type:after {
    animation: lines 1.4285714286s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 6s;
}

.dropdowninfo .row2 .team .type:before {
    animation-duration: 1s, 1s, 0.0285714286s, 0.8s;
    animation-timing-function: steps(50, end), steps(1, end), step-end, ease-out;
    animation-iteration-count: 1, 1, 100, 2;
    animation-delay: 6.5s, 6.5s, 6.5s, 6.7s;
}

.dropdowninfo .row2 .team .type:after {
    animation: lines 1s steps(1, end) 1;
    animation-fill-mode: both;
    animation-delay: 7.5s;
}


@supports (width: 1ch) {
    .visible .typing .type:before,
    .visible .typing .type:after,
    .visible .typing1 .type:before,
    .visible .typing1 .type:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        height: 1.8em;
        width: 100%;
        background-color: #fff;
    }
    .visible .typing2 .type:before,
    .visible .typing2 .type:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        height: 1.8em;
        width: 100%;
        background-color: #191919;
    }

    .visible .dropdowninfo .input .type:before,
    .visible .dropdowninfo .input .type:after{
        box-sizing: border-box;
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        height: 0.875rem;
        width: 100%;
        background-color: #eaeaea;
    }

    
    .visible .dropdowninfo .team .type:before,
    .visible .dropdowninfo .team .type:after{
        box-sizing: border-box;
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        height: 0.875rem;
        width: 100%;
        background-color: #fff;
    }


    /* TYPING 1 */
    .visible .typing .type:before {
        border-left: 2px solid transparent;
        top: 100%;
        animation-name: letters, lines, cursor-type, cursor-wait-pink;
        animation-fill-mode: both, both, both, backwards;
        animation-iteration-count: 1, 0, 1, infinite;
        margin-left: -4px;
    }
    .visible .typing .type+.type:before {
        animation-name: lettersEnd, lines, cursor-type, cursor-wait1-pink;
        animation-iteration-count: 1, 0, 1, infinite;
    }
    /* TYPING 2 */
    .visible .typing1 .type:before {
        border-left: 2px solid transparent;
        top: 100%;
        animation-name: letters, lines, cursor-type-orange, cursor-wait-orange;
        animation-fill-mode: both, both, both, backwards;
    }
    .visible .typing1 .type+.type:before {
        animation-name: lettersEnd, lines, cursor-type-orange, cursor-wait1-orange;
        animation-fill-mode: both, both, backwards, backwards;
        animation-iteration-count: 1, 0, 1, infinite;
    }
    .visible .typing .type:after,
    .visible .typing1 .type:after {
        content: '';
        height: 100%;
        top: 100%;
        left: 0;
        margin-top: 1.8em;
    }
    /* TYPING 3 */
    .visible .typing2 .type:before {
        border-left: 2px solid transparent;
        top: 100%;
        animation-name: letters1, lines, cursor-type-pink, cursor-wait-pink;
        animation-fill-mode: both, both, both, backwards;
    }
    .visible .typing2 .type+.type:before {
        animation-name: letters, lines, cursor-type-pink, cursor-wait-pink;
    }
    .visible .typing2 .type+.type+.type:before {
        animation-name: lettersEnd, lines, cursor-type-pink, cursor-wait1-pink;
        animation-fill-mode: both, both, backwards, backwards;
        animation-iteration-count: 1, 0, 1, infinite;
    }
    .visible .typing2 .type:after {
        content: '';
        height: 100%;
        top: 100%;
        left: 0;
        margin-top: 1.8em;
    }

    /* TYPING 3 */
    .visible .dropdowninfo .input .type:before {
        border-left: 1px solid transparent;
        animation-name: letters, lines, cursor-type-gray, cursor-wait-gray;
        animation-fill-mode: both, both, backwards, backwards;
        animation-iteration-count: 1, 0, 1, infinite;
    }

    .visible .dropdowninfo .input .type:after {
        content: '';
        height: 100%;
        top: 100%;
        left: 0;
        margin-top: 1.8em;
    }

    .visible .dropdowninfo .team .type:before {
        border-left: 1px solid transparent;
        animation-name: letters, lines, cursor-type-gray, cursor-wait-gray;
        animation-fill-mode: both, both, backwards, backwards;
        animation-iteration-count: 1, 0, 1, infinite;
    }

    .visible .dropdowninfo .team .type:after {
        content: '';
        height: 100%;
        top: 100%;
        left: 0;
        margin-top: 1.8em;
    }
}


/* CURSOR 1 */

.visible .drop-placeholder {
    animation-name: dropposition;
    animation-duration: 1.5s;
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
    transition: none;
}

.visible .drop-placeholder .cursor1 {
    animation-name: cursor1, drag, movecursor;
    animation-delay: 1s, 2.5s, 3.7s;
    animation-duration: 1s, 1s, 1s;
    animation-fill-mode: both, forwards, forwards;
    transition-timing-function: ease-in-out, linear, linear;
}

.visible .drop-placeholder .object {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation-name: dragndrop;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}


/* CURSOR 2 */

.visible .editor .thumb .image {
    animation-name: dragthumb;
    animation-duration: 1s;
    animation-delay: 4.7s;
    animation-fill-mode: forwards;
    transition: none;
}

.visible .editor .thumb .cursor2 {
    animation-name: cursor2;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.visible .editor .graph-icon {
    animation-name: iconselect;
    animation-duration: 0.1s;
    animation-delay: 4.1s;
    animation-fill-mode: forwards;
}


/* SECTION 2 ANIMATION */

.cross-collaboration-section .visible.graphic .part1 .selection {
    animation-name: collabTextDragging;
    animation-delay: 2s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.cross-collaboration-section .visible.graphic .part1 .selection .cursor {
    animation-name: collabCursor1;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in, visible-out;
}

.cross-collaboration-section .graphic .part1 .selection .text {
    border: 2px solid transparent;
    border-radius: 2px;
    animation-name: collabTextSelect;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}

.cross-collaboration-section .visible.graphic .part1 .selection .info {
    animation-name: collabInfoShow;
    animation-delay: 0.5s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.cross-collaboration-section .visible.graphic .part2 .selection2 .info {
    animation-name: collabInfoShow;
    animation-delay: 3s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.cross-collaboration-section .visible.graphic .part2 .selection2 .cursor {
    animation-name: collabCursor2;
    animation-delay: 2.2s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.cross-collaboration-section .visible.graphic .part2 .selection3 .cursor {
    animation-name: collabCursor3, collabCursor3-1, collabCursor3-2, collabCursor3-3, collabCursor3-4;
    animation-delay: 0.5s, 1.4s, 2.8s, 3.5s, 4s;
    animation-duration: 0.7s,0.5s,0.5s,0.5s, 0.5s;
    left: 120%;
    top: -180px;
    animation-fill-mode: forwards, forwards, forwards, forwards, forwards;
    transition-timing-function: ease-in-out;
}


.cross-collaboration-section .visible.graphic .part2 .selection3 .dropdowninfo {
    animation-name: collabInfoShow;
    animation-delay: 1.3s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

.cross-collaboration-section .visible.graphic .part2 .selection3 .row1 {
    animation-name: addOption;
    animation-delay: 2s;
    animation-duration: 0.1s;
    animation-fill-mode:forwards;
}

.cross-collaboration-section .visible.graphic .part2 .selection3 .row2 {
    animation-name: addOption;
    animation-delay: 3.5s;
    animation-duration: 0.1s;
    animation-fill-mode:forwards;
}

.cross-collaboration-section .visible.graphic .part2 .selection3 .info {
    animation-name: collabInfoShow;
    animation-delay: 2s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}



/* Section 5 */

.visible.powerful-graph-section .graphic:not(.loaded .graphic) {
    animation-name: scaleup;
    animation-delay: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
    transform-origin: center;
}

.loaded.powerful-graph-section .graphic {
    transform: scale(1);
    -webkit-transform: scale(1);
}


/* .self-organization-section */

.self-organization-section .visible.graphic:not(.self-organization-section .loaded.graphic){
    animation-name: animateup;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
    transform-origin: center;
    position: relative;
    top: 100px;
    opacity: 0;
}

.self-organization-section .loaded.graphic {
    top: 0;
    opacity: 1;
}


/* Multi Level Sharing */

.multi-sharing-section .visible.graphic .cursor {
    animation-name: multiLevelCursor, multiLevelCursor1;
    animation-delay: 1.5s, 3s;
    animation-duration: 1s, 0.5s;
    animation-fill-mode: both, forwards;
    transition-timing-function: ease-in-out;
}


@keyframes showhide {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes addOption {
    0% {
        opacity:0;
        height:0;
    }
    30% {
        height:auto;
        opacity:1;
    }

    100% {
        height:auto;
        opacity:1;
    }
}


@keyframes scaleup {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes animateup {
    from {
        top: 100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes multiLevelCursor {
    from {
        top:4%;
        left:50%;
    }
    to {
        top:16%;
        left:16%;
    }
}

@keyframes multiLevelCursor1 {
    from {
        top:16%;
        left:16%;
    }
    to {
        top:32%;
        left:14%;
    }
}

@keyframes collabCursor1 {
    from {
        right: -200px;
        top: 80px;
    }
    to {
        right: 20px;
        top: 90px;
    }
}

@keyframes collabCursor2 {
    from {
        left: -100px;
        top: -110px;
    }
    to {
        left: 355px;
        top: -80px;
    }
}

@keyframes collabCursor3 {
    from {
        left: 120%;
        top: -100px;
    }
    to {
        left: 45%;
        top: -30%;
    }
}

@keyframes collabCursor3-1 {
    from {
        left: 45%;
        top: -30%;
    }
    to {
        left: 35%;
        top: 52%;
    }
}

@keyframes collabCursor3-2 {
    from {
        left: 35%;
        top: 52%;
    }
    to {
        left: 34%;
        top: 56%;
    }
}

@keyframes collabCursor3-4 {
    from {
        left: 35%;
        top: 58%;
    }
    to {
        left: 35%;
        top: 75%;
    }
}

@keyframes collabCursor3-3 {
    from {
        left: 34%;
        top: 73%;
    }
    to {
        left: 35%;
        top: 58%;
    }
}

@keyframes collabTextDragging {
    from {
        right: -10px;
    }
    to {
        right: 35px;
    }
}

@keyframes collabInfoShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes collabTextSelect {
    from {
        border: 2px solid transparent;
    }
    to {
        border: 2px solid #8f85ff;
    }
}

@keyframes cursor2 {
    from {
        right: -120px;
        top: -50px;
    }
    to {
        right: 180px;
        top: -20px;
    }
}

@keyframes dragthumb {
    from {
        bottom: -50px
    }
    to {
        bottom: 0;
    }
}

@keyframes iconselect {
    from {
        background: transparent;
    }
    to {
        background: #eee;
    }
}

@keyframes cursor1 {
    from {
        left: -250px;
        top: -190px;
    }
    to {
        top: -50px;
        left: -350px;
    }
}

@keyframes drag {
    0% {
        top: -50px;
        left: -350px;
    }
    20% {
        top: -60px;
        left: -350px;
    }
    25% {
        top: -60px;
        left: -350px;
    }
    100% {
        top: 30px;
        left: 50px;
    }
}

@keyframes movecursor {
    from {
        top: 30px;
        left: 50px;
    }
    to {
        top: -5px;
        left: 20px;
    }
}

@keyframes dragndrop {
    0% {
        top: -80px;
        left: -400px;
    }
    20% {
        top: -90px;
        left: -400px;
    }
    25% {
        top: -90px;
        left: -400px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

@keyframes dropposition {
    0% {
        background: transparent;
    }
    40% {
        background: #eaeaea;
    }
    100% {
        background: transparent;
    }
}

@keyframes letters {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes letters1 {
    from {
        left: 34%;
    }
    to {
        left: 100%;
    }
}

@keyframes lettersEnd {
    from {
        left: 0;
    }
    to {
        left: 97%;
    }
}

@keyframes lines {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

@keyframes cursor-type-pink {
    50% {
        border-color: #EB5C68;
    }
}

@keyframes cursor-type-orange {
    50% {
        border-color: #FBB374;
    }
}

@keyframes cursor-type-gray {
    50% {
        border-color: #333;
    }
}

@keyframes cursor-wait-pink {
    0% {
        box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
    }
    1% {
        box-shadow: inset 2px 0 0 0 #EB5C68;
    }
    40% {
        box-shadow: inset 2px 0 0 0 #EB5C68;
    }
}

@keyframes cursor-wait-orange {
    0% {
        box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
    }
    1% {
        box-shadow: inset 2px 0 0 0 #FBB374;
    }
    40% {
        box-shadow: inset 2px 0 0 0 #FBB374;
    }
}

@keyframes cursor-wait-gray {
    0% {
        box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0);
    }
    1% {
        box-shadow: inset 1px 0 0 0 #333;
    }
    40% {
        box-shadow: inset 1px 0 0 0 #333;
    }
}

@keyframes cursor-wait1-pink {
    0% {
        box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
    }
    1% {
        box-shadow: inset 2px 0 0 0 #EB5C68;
    }
    40% {
        box-shadow: inset 2px 0 0 0 #EB5C68;
    }
    0% {
        box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes cursor-wait1-orange {
    0% {
        box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
    }
    1% {
        box-shadow: inset 2px 0 0 0 #FBB374;
    }
    40% {
        box-shadow: inset 2px 0 0 0 #FBB374;
    }
    0% {
        box-shadow: inset 2px 0 0 0 rgba(0, 0, 0, 0);
    }
}

@media (max-width:992px) {
    .row {
        flex-wrap: wrap;
    }
    .row .col-md-6 {
        width: 100%;
        flex: 0 0 100%;
        padding: 15px;
    }
    header .wrap {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 20px;
    }
    header .wrap .logo {
        padding: 5px 0;
    }
    header .main-nav li a {
        font-size: 14px;
    }
    .banner {
        padding-bottom: 30px;
    }
    .team-cognition-section {
        padding: 50px 0;
    }
    .team-cognition-section .box {
        flex-wrap: wrap;
        background: none;
        padding: 0px;
    }
    .team-cognition-section .box .text {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 0 25px;
        text-align: center;
    }
    .multi-sharing-section .graphic:after {
        display: none;
    }
    .team-cognition-section .box .frames {
        width: 100%;
        flex: 0 0 100%;
        background: #191919;
        padding: 35px 30px;
        border-radius: 30px;
    }
    .team-cognition-section .box .actions {
        display: none;
    }
    .statement-section .wrap {
        flex-wrap: wrap;
    }
    .statement-section .statement {
        margin: 15px 0;
    }
    footer .get-started {
        width: 100%;
    }
    footer .social-block {
        width: 100%;
        padding: 25px 20px 20px;
    }
    .self-organization-section {
        text-align: center;
        padding: 35px 10px;
    }
    .self-organization-section .col-md-6:first-child {
        order: 5;
        padding: 50px 20px 0;
    }
    .cross-collaboration-section {
        padding: 35px 10px
    }
    .multi-sharing-section {
        padding: 35px 10px;
    }
    .powerful-graph-section {
        padding: 35px 10px;
    }
    .waitlist-section {
        padding: 35px 10px;
    }
    .statement-section {
        padding: 35px 10px;
    }
    footer {
        padding: 40px 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
    .graphic.desktop {
        display: none !important;
    }
    .banner .graphic img {
        width: 100% !important;
    }
    .graphic.mobile {
        display: block !important;
        padding: 20px 0;
        background-size: 135%;
    }
    .graphic.mobile img {
        max-width: 100%;
        display: inline-block;
        position: static;
        transform: none;
        width: auto;
    }
}

@media (max-width:768px) {
    header .wrap {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 20px 15px;
    }
    header .wrap .logo {
        padding: 0 10px 0 0;
    }
    header .main-nav li a span {
        display: none;
    }
    header .main-nav li:nth-child(1),
    header .main-nav li:nth-child(2) {
        padding: 0 0;
        margin: 0 -5px;
    }
    header .main-nav li a img {
        margin: -10px 0px -20px !important;
    }
    .banner .content h2 {
        font-size: 36px;
        line-height: 38px;
    }
    .banner .graphic {
        background-size: auto 100%;
    }
    .banner .editor {
        background: #fff;
        min-height: 793px;
        box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.8);
    }
    .team-cognition-section .box .frames .frame {
        width: 100%;
        flex: 0 0 100%;
    }
    .self-organization-section h5,
    .cross-collaboration-section h5,
    .multi-sharing-section h5,
    .powerful-graph-section h5 {
        font-size: 20px;
    }
    .self-organization-section h3,
    .cross-collaboration-section h3,
    .multi-sharing-section h3,
    .powerful-graph-section h3 {
        font-size: 42px;
        line-height: 44px;
    }
    .statement-section .statement {
        display: none;
    }
    .statement-section .build-together {
        max-width: 100%;
        padding: 35px 25px;
    }
    .statement-section .build-together .tag {
        font-size: 35px;
    }
    footer .get-started .actions {
        display: none;
    }
    .graphic.mobile {
        display: block !important;
        padding: 20px 0;
        margin: 10px 0;
        background-size: 140%;
        text-align: center;
    }
}

@media (max-width:480px) {
    .banner .content h2 {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 10px;
    }
    .banner .content p {
        font-size: 14px;
        line-height: 180%;
    }
    .banner .content .actions {
        margin: 15px 0 35px
    }
    .banner .content .actions a {
        padding: 0 10px;
    }
    .waitlist-section .actions a {
        padding: 0 10px;
    }
}